<div class="supporting">
	<div class="container about-container">
		<%= image_tag 'pic.jpg', :class => 'round-img' %>
		<h1>My Story</h1>
		<p>It was a dark and stormy night.  I was alone and surrounded by program specifications as far as the eye could see.  Suddenly, one of the specifications charged forward.  I deftly called upon my vast development knowledge and coded a robust solution, but the specification was unfazed.  "Implementation Not Supported," it called back mockingly.  I looked around in exasperation.  "What do you mean nobody uses Fortran anymore?!" I shouted, to no one in particular.</p>
		<p>Oh wait, not that kind of story?  Fine...</p>
		<p>I have a fascination with technology going back to my days as a kid in suburban Indiana writing silly BASIC programs on my parents' Commodore 64 in the late 80s.  That passion led me to Purdue University, where I obtained a bachelor's degree in computer engineering in 2003.  My focus at Purdue was in software engineering, and I learned a great deal about program design and coding in a wide variety of programming languages (including, yes, Fortran).</p>
		<p>Unfortunately, 2003 was not a kind year to computer engineers just entering the workforce, and I found myself enrolling in the Indianapolis campus of the Indiana University School of Law that same year.  I graduated from law school <i>summa cum laude</i> in 2006, and since then I have worked as a patent attorney in the software, semiconductor, and wireless communication fields.  In 2009, I relocated to San Diego to be near local clients and have made it my home ever since.</p>
		<p>Today, I split my time between patent law and brushing up on my software development skills, with the goal of ultimately entering software development full time.  While patent law has been a rewarding career for me, I miss the days of working on my own ideas rather than just writing about someone else's.  With my legal knowledge and experience combined with my skills as a developer, I will bring a unique perspective to the world of software design.</p>
		<p class="disclaimer">Disclaimer: No part of this website is intended to be interpreted as attorney advertisement.  I am not accepting new legal clients at this time.</p>
	</div>
</div>
