<div class="main">
	<div class="jumbotron">
		<div class="container-fluid">
			<h1>My name is Brad Spitz and I create solutions that make ideas into reality.</h1>
			<%= link_to 'View My Work', portfolio_path, :class => 'btn' %>
		</div>
	</div>
</div>
