/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'helpers';

// Pagewide styles
html, body {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin: 0;
	padding: 0;
	background: $background;
}

// Header and footer list styles
.menu li {
	display: inline-block;
	list-decoration: none;

	a {
		color: $black;
		margin-left: 50px;

		&:hover { text-decoration: none; }
	}
}

// Header
.header {
	padding: 30px 60px 26px 60px;
	font-size: 24px;

	.row {
		margin: 0;
		padding: 0;
	}

	p { font-size: 32px; }

	.menu {
		text-align: right;
		padding-top: 6px;
	}
}

.footer {
	font-size: 24px;
	font-weight: 300;
	padding: 25px 80px;

	.row {
		text-align: right;
		padding-top: 25px;
	}

	.menu li a {
		margin-left: 40px;
	}
}

