// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'helpers';
@import 'unslider';

// Jumbotron
.jumbotron {
	
	background: url(http://i.imgur.com/WIJ59VE.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	margin: 0;
  
	h1 {
		padding: 180px 80px 40px 40%;
		text-align: right;
		color: $white;
		font-size: 50px;
	}
	  
	.btn {
		background: fade-out($black, 0.3);
		border-radius: 0;
		border: transparent;
		color: $white;
		font-size: 24px;
		font-weight: 300;
		padding: 15px 30px;
		@extend %transition-bg;
		margin: 0 80px 260px 60px;
		float: right;

		&:hover {
	    	background: fade-out($yellow, 0.3);
			@extend %transition-bg;
		}
	}
}


// Main

.main {
	background: lighten($background, 6.5%);
}

// Slider
.slider {
	text-align: center;
	overflow: visible;
}

.slider-container {
	position: relative;
	max-width: 900px;
	padding-top: 70px;
	padding-bottom: 35px;
}

.unslider {
	max-width: 800px;
	margin: 0 auto;
	padding: 0;

	img { text-align: center; }
}

.unslider-arrow {
    display: block;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    overflow: visible;
    background: rgba(0,0,0,.6) no-repeat 50% 50%;
    border-radius: 46px;
    opacity: .6;
    transition: opacity .2s;
    position: absolute;

	color: #fff;
	font-size: 26px;
	text-align: center;
	padding-top: 7px;

	&:hover {
		text-decoration: none;
		color: #fff;
		opacity: .8;
		transition: opacity .2s;
	}
}

.unslider-arrow.next {
    left: auto;
    right: -55px;
    padding-left: 4px;
}

.unslider-arrow.prev {
    left: -55px;
    right: auto;
    padding-right: 4px;
}

// Supporting
.supporting {

	.row { 
		padding-top: 50px;
		padding-bottom: 20px;
	}

	.col-md-6 {
		padding: 60px 50px 0 50px;

		a {
			color: $black;
			transition: color 0.5s;

			h3 {
				font-size: 30px;
				text-align: center;
			}

			p {
				font-size: 18px;
				font-weight: 300;
			}

			&:hover {
				text-decoration: none;
				color: darken($yellow, 40%);
			}
		}
	}
}